head 
   title Motor de plantillas PUG
   link(rel="stylesheet" , href='../../css/main.css' , type='text/css')
   link(rel="stylesheet" , href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" , type="text/css")